In [1]:
import pandas as pd

In [2]:
extracted_key_phrases = pd.read_csv('Bodie_and_Woodridge_extracted_keywords/subject_index_extraction_2013_Bodie.Kane.Marcus_Investments.csv')

In [3]:
extracted_key_phrases.head()

,ID,phrase,textbook,definition_or_explanations
0,0,Abnormal return,2013_Bodie.Kane.Marcus_Investments,NaN
1,1,Accounting earnings,2013_Bodie.Kane.Marcus_Investments,NaN
2,2,Accounting practices,2013_Bodie.Kane.Marcus_Investments,NaN
3,3,Accrued interest,2013_Bodie.Kane.Marcus_Investments,NaN
4,4,Acid test ratio,2013_Bodie.Kane.Marcus_Investments,NaN

In [4]:
key_phrases = extracted_key_phrases['phrase'].values

In [5]:
text = 'NASDAQ Stock Market (NASDAQ)'

In [6]:
text = 'Morningstar’s risk-adjusted return (MRAR)'

In [7]:
text = 'ADRs (American Depository Receipts)'

In [8]:
import re
re.search('\(.+\)', text)

In [9]:
text_length = len(text)
content_in_bracket_length = len(re.search('\(.+\)', text).group(0)) - 2

In [10]:
re.search('\(.+\)', text).span()

(5, 35)

In [11]:
start, end = re.search('\(.+\)', text).span()
if content_in_bracket_length > text_length / 2:
    
    full_expression = text[start+1: end-1]
    abbreviated_expression = text[: start-1]
else:
    full_expression = text[: start-1]
    abbreviated_expression = text[start+1: end-1]

In [12]:
full_expression, abbreviated_expression

('American Depository Receipts', 'ADRs')

In [13]:
def find_full_expression_and_abbreviation(text):
    text_length = len(text)
    match = re.search('\(.+\)', text) # search of bracket
    match_1 = re.search('[A-Z]{2,8}', text) # search for Capitalization
    match_2 = re.search('[A-Z]/[A-Z]', text) # search for Capitalization
    if match and (match_1 or match_2):
        content_in_bracket_length = len(match.group(0)) - 2
    else:
        if re.search('\(.+', text):
            pos = re.search('\(.+', text).span()[0]
            return [text[:pos-1]]

        else:
            return [text]

    start, end = re.search('\(.+\)', text).span()
    if content_in_bracket_length > text_length / 2:
        
        full_expression = text[start+1: end-1]
        abbreviated_expression = text[: start-1]
    else:
        full_expression = text[: start-1]
        abbreviated_expression = text[start+1: end-1]

    return [full_expression, abbreviated_expression]

In [14]:
find_full_expression_and_abbreviation("Morningstar’s risk-adjusted return (MRAR)")

['Morningstar’s risk-adjusted return', 'MRAR']

In [15]:
find_full_expression_and_abbreviation('ADRs (American Depository Receipts)')

['American Depository Receipts', 'ADRs']

In [16]:
full = []
abbreviated = []

for phrase in key_phrases:
     res = find_full_expression_and_abbreviation(phrase)
     if len(res) == 1:
         full.append(res[0])
         abbreviated.append('')

     if len(res) == 2:
         full.append(res[0])
         abbreviated.append(res[1])
         full.append(res[1])
         abbreviated.append('')

In [17]:
df = pd.DataFrame({'ID': [i for i in range(len(full))],
                'phrase': full,
                'abbreviation': abbreviated,
                'textbook': ['2013_Bodie.Kane.Marcus_Investments' for _ in range(len(full))],
                'definition_or_explanations': ['' for i in range(len(full))]})

In [18]:
df

,ID,phrase,abbreviation,textbook,definition_or_explanations
0,0,Abnormal return,,2013_Bodie.Kane.Marcus_Investments,
1,1,Accounting earnings,,2013_Bodie.Kane.Marcus_Investments,
2,2,Accounting practices,,2013_Bodie.Kane.Marcus_Investments,
3,3,Accrued interest,,2013_Bodie.Kane.Marcus_Investments,
4,4,Acid test ratio,,2013_Bodie.Kane.Marcus_Investments,
...,...,...,...,...,...
1174,1174,Universal life,,2013_Bodie.Kane.Marcus_Investments,
1175,1175,Unmanaged trusts,,2013_Bodie.Kane.Marcus_Investments,
1176,1176,Unsecured bonds,,2013_Bodie.Kane.Marcus_Investments,
1177,1177,Utility,,2013_Bodie.Kane.Marcus_Investments,
1178,1178,Utility function,,2013_Bodie.Kane.Marcus_Investments,

In [19]:
df.to_csv('subject_index_extraction_abbreviation_separated_2013_Bodie.Kane.Marcus_Investments.csv', index=False)